/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89);
}

article {
  padding: 2rem 1rem; 
}

/* custom styles */

header {
    .header-text {
      display: flex;
      justify-content: end;
      font-size: 100px;
      margin-top: 50px;
      font-family: 'Quicksand', sans-serif;
      color: solid rgb(238, 198, 198);
  }
    .ribbon {
      background-color: rgb(77, 77, 77);
      width: 100%;
      height: 70px;
    } 
    .top {
      display: flex;
      .logo {
        height: 150px;
        width:150px;
        img {
          height: 200px;
          width:200px;
        }
      }
    }
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 50px;
}

nav {
  position: relative;
  font-size: 40px;
  transition: font-size 2s;
  :hover {
      font-size: 100px;
  }
  ul {
  max-width: 200px;
  font-family: 'Reenie Beanie', cursive;
  list-style: none;
  flex-grow: 2;
  transition-duration: 0.65s;
  transition-timing-function: ease;
  font-size: 50px;
          a {
          display: block;
          color: rgb(238, 198, 198);
          text-decoration: none;
          padding: 1rem;
          font-size: 40px;
          }
          a:hover {
              color:rgb(77, 77, 77);
              text-decoration: line-through;
          }     
  }
  ul:hover {
      opacity: 1;
      max-width: 15rem;
      margin: 1rem;
  }
}
.box {
  background-color: rgb(238, 198, 198);
  margin-bottom: 70px;
  .home-img {
    padding: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }
}

/* about box */
.aboutBox {
  float: left;
  margin: 60px;
  width: 750px;
  border-right: 3px solid rgb(238, 198, 198);
  border-top: 0.15px solid rgb(56, 56, 58);
}



/* footer content */
footer {
  align-content: center;
  .ribbon {
      background-color: rgb(77, 77, 77);
      width: 100%;
      height: 60px;
      padding: 1rem;
      text-align: center;
    } 
    .footer-text{
      text-decoration: none;
      color: #f7f7f7;
    }
}



/* people page */
.people-gallery {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 10px;
}

/* places page */
.places-gallery {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 10px;
}

/* branding page */
.branding-gallery {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 10px;
}

.page-title {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: solid rgb(238, 198, 198);
}

/* contact page */

fieldset {
  border: 2px solid rgb(238, 198, 198);
  color: rgb(56, 56, 58);
  font-size: 20px;
  font-family: 'Reenie Beanie', cursive;
  margin: 1.5rem;
}

/*tablet*/

@media only screen and (min-width: 600px) and (max-width: 850px){
  .aboutBox {
    margin: 60px;
    padding: 5px;
    width: 550px;
    border-right: 3px solid rgb(238, 198, 198);
    border-top: 0.15px solid rgb(56, 56, 58);
  }
  header {
    .header-text {
      font-size: 70px;
      margin-top: 50px;
      padding: 10px;
      display: block;
      position: relative;
      text-align: right;
      font-family: 'Quicksand', sans-serif;
      color: solid rgb(238, 198, 198);
  }
  }
  .home-img {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }
}


/* mobile view */

@media only screen and (max-width: 600px) {
  .aboutBox {
    top: 200px;
    width: 250px;
    border-right: 3px solid rgb(238, 198, 198);
    border-top: 0.15px solid rgb(56, 56, 58);
  }
  header {
    .header-text {
      font-size: 50px;
      margin-top: 50px;
      padding:10px;
      display: block;
      position: relative;
     text-align: right;
      font-family: 'Quicksand', sans-serif;
      color: solid rgb(238, 198, 198);
  }
  
  }
  .home-img {
    width: auto;
    display: block;
    list-style: none;
    picture {
        margin: 60px;
    }
  }
}